<% @sbmessages.each do |message| %>
  <div class="webmessage_username"><%= message.user.username%>&nbsp;:&nbsp;&nbsp;
  <div style="display:inline;color:white;"><%= message.message %></div>
   </div>
<div class="webmessage_webmessage"></div>
<% end %>
