<div class="box">
<% @users_online.each do |user| %>
	<div class="box_left"><%= user.username %></div>
	<div class="box_right">
		<%= distance_of_time_in_words_to_now(user.last_request_at) %>
</div>
	<br />
<% end %>
</div>
