<!-- contentbox-->
	<div class="contentbox">
		<div class="contentbox_top">
			<div class="contentbox_top_left"></div>
			<div class="contentbox_top_center">Nawigacja</div>
			<div class="contentbox_top_right"></div>
		</div>
		<div class="contentbox_left">
			<div class="contentbox_right">
				<div class="contentbox_center">
				<ul>
					<li><%= link_to('Strona glowna', "/") %></li>
					<li><%# link_to('Uzytkownicy', "/users") %></li>
					<li>Nasze samochody</li>
					<li>Galeria</li>
					<li>Artykuly</li>
					<li>Szukaj</li>
					<li>Kontakt</li>
				</ul>
				</div>
			</div>
		</div>

		<div class="contentbox_down">
			<div class="contentbox_down_left"></div>
			<div class="contentbox_down_center"></div>
			<div class="contentbox_down_right"></div>
		</div>
	</div>
<!-- contentbox! -->
<br />
