<!-- contentbox-->
	<div class="contentbox">
		<div class="contentbox_top">
			<div class="contentbox_top_left"></div>
			<div class="contentbox_top_center">Nawigacja</div>
			<div class="contentbox_top_right"></div>
		</div>
		<div class="contentbox_left">
			<div class="contentbox_right">
				<div class="contentbox_center">
				<ul>
					<li><%= link_to "Strona główna", root_path %></li>
				</ul>
				</div>
			</div>
		</div>

		<div class="contentbox_down">
			<div class="contentbox_down_left"></div>
			<div class="contentbox_down_center"></div>
			<div class="contentbox_down_right"></div>
		</div>
	</div>
<!-- contentbox! -->
<br />
