.contentbox ul{
font-family: verdana, arial, helvetica, sans-serif;
font-size:   12px;
line-height: 18px;
color: #B7B9AC;
list-style-image:url('/images/main/bullet.gif');
}
.contentbox a:hover{
color:#4985F4;
text-decoration:none;
}
.contentbox a{
color: #B7B9AC;
text-decoration:none;
}
#vericalmenu a:hover{
color:#4985F4;
text-decoration:none;
}
#vericalmenu a{
color: #B7B9AC;
text-decoration:none;
}
#rejestracja{
padding: 15px;
}
#shoutbox_center input{
color: #B7B9AC;
width: 160px;
font-size: 12px;
float: left;
}
.contentbox_center input{
border: 1px;
width: 165px;
font-size: 14px;
float: left;
background-color: #B7B9AC;
  -webkit-border-radius: 5px; /* Safari, Chrome */
  -khtml-border-radius: 5px;    /* Konqueror */
  -moz-border-radius: 5px; /* Firefox */
  border-radius: 5px;
}
#user_session_submit{
margin: 4px 0px 0px 0px;
border: 1px;
width: 165px;
font-size: 14px;
float: left;
background-color: #594940;
  -webkit-border-radius: 2px; /* Safari, Chrome */
  -khtml-border-radius: 2px;    /* Konqueror */
  -moz-border-radius: 2px; /* Firefox */
  border-radius: 2px;

}
#shoutbox_center input{
border: 1px;
width: 165px;
font-size: 14px;
float: left;
  -webkit-border-radius: 5px; /* Safari, Chrome */
  -khtml-border-radius: 5px;    /* Konqueror */
  -moz-border-radius: 5px; /* Firefox */
  border-radius: 5px;
}
#sbmessage_submit{
margin: 4px 0px 0px 0px;
border: 1px;
width: 165px;
font-size: 14px;
float: left;
background-color: #594940;
  -webkit-border-radius: 2px; /* Safari, Chrome */
  -khtml-border-radius: 2px;    /* Konqueror */
  -moz-border-radius: 2px; /* Firefox */
  border-radius: 2px;

}
.webmessage_username{
float:left;
color: #986700;
}
.webmessage_webmessage{
clear: both;
color: #B7B9AC;
}
.top_box_left{
display: inline;
color: #986700;
text-align: left;
}
.top_box_right{
display: inline;
color: #B7B9AC;
text-align: right;
float: right;
}
#shoutbox_center{
width: 168px;
background-color: #040404;
margin-top: -12px;
margin-bottom: -12px;
}

/**/


