<div id="site-a">
	<%= render :partial => "share/site_a" %>
</div>
<div id="main">
	<%= render :partial => "share/main" %>
</div>
<div id="site-b">
	<%= render :partial => "share/site_b" %>
</div>
<div id="footer_inside">
	<%= render :partial => "share/footer_inside" %>
</div>
